@import url(../../global.css);

:root{
    --number-planet: #4E525B;
}

body{
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
}

.home{
    border: none;
}

.destination{
    border-bottom: 3px solid var(--white);
}

main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 120px;
}

.planet{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.text-pick{
    font-size: 30px;
    font-weight: 400;
}

.number-planet{
    color: var(--number-planet);
}

.information{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.planets{
    display: flex;
    gap: 20px;
}

li{
    all: inherit;
}
